/*AutoComplete flyout */
        
        .autocomplete_completionListElement
        {
            margin: 0px !important;
            background-color: inherit;
            color: windowtext;
            border: buttonshadow;
            border-width: 1px;
            border-style: solid;
            cursor: 'default';
            overflow: auto;
            height: 100%;
            font-family: Tahoma;
            font-size: small;
            text-align: left;
            list-style-type: none;
        }
        
        /* AutoComplete highlighted item */
        
        .autocomplete_highlightedListItem
        {
            background-color: #ffff99;
            color: black;
            padding: 1px;
        }
        
        /* AutoComplete item */
        
        .autocomplete_listItem
        {
            background-color: window;
            color: windowtext;
            padding: 1px;
        }


/*  HOW TO USE

        <asp:TextBox ID="txtAuthorName" runat="server" CssClass="dottedTextBox" Width="100%"></asp:TextBox>
        <cc1:AutoCompleteExtender ID="txtAuthorName_AutoCompleteExtender" runat="server"
            CompletionListCssClass="autocomplete_completionListElement" CompletionListHighlightedItemCssClass="autocomplete_highlightedListItem"
            CompletionListItemCssClass="autocomplete_listItem" DelimiterCharacters="" EnableCaching="False"
            Enabled="True" MinimumPrefixLength="1" ServiceMethod="GetAuthorName" ServicePath=""
            ShowOnlyCurrentWordInCompletionListItem="True" TargetControlID="txtAuthorName">
        </cc1:AutoCompleteExtender>

*/